Pipeline/Update Data Motor Daily - Pipeline.json
{"$schema":"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"192.168.177.22\\dinhphi;":{"type":"string"},"Earn_Motor_LakeHouse":{"type":"string"},"PowerBIDatasets nam.dv":{"type":"string"}},"variables":{},"resources":[{"name":"Update Data Motor Daily - Pipeline","type":"pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"Store Prepare Earn","description":"","type":"Script","dependsOn":[{"activity":"Store Insert HomeCredit","dependencyConditions":["Succeeded"]},{"activity":"Store Premium IBMS","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"scripts":[{"type":"Query","text":{"value":"EXEC [dbo].[A6_MOTOR_DATA_EARNED_prepare];","type":"Expression"}}],"scriptBlockExecutionTimeout":"02:00:00","database":"IBMS_GIC"},"externalReferences":{"connection":"[parameters('192.168.177.22\\dinhphi;')]"}},{"name":"Copy Prepare Table","type":"Copy","dependsOn":[{"activity":"Store Prepare Earn","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"source":{"type":"SqlServerSource","queryTimeout":"02:00:00","partitionOption":"None","datasetSettings":{"annotations":[],"type":"SqlServerTable","schema":[],"typeProperties":{"schema":"dbo","table":"A6_MOTOR_DATA_PREPARED","database":"IBMS_GIC"},"externalReferences":{"connection":"[parameters('192.168.177.22\\dinhphi;')]"}}},"sink":{"type":"LakehouseTableSink","tableActionOption":"OverwriteSchema","partitionOption":"None","datasetSettings":{"annotations":[],"linkedService":{"name":"Earn_Motor_LakeHouse","properties":{"annotations":[],"type":"Lakehouse","typeProperties":{"workspaceId":"30dba040-2679-4d12-8ab3-0d871b8f2bb0","artifactId":"[parameters('Earn_Motor_LakeHouse')]","rootFolder":"Tables"}}},"type":"LakehouseTable","schema":[],"typeProperties":{"table":"raw_motor_data"}}},"enableStaging":false,"translator":{"type":"TabularTranslator","typeConversion":true,"typeConversionSettings":{"allowDataTruncation":true,"treatBooleanAsNumber":false}}}},{"name":"Store Premium IBMS","description":"","type":"Script","dependsOn":[{"activity":"Store Data_Detail_GICORE","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"scripts":[{"type":"Query","text":{"value":"EXEC D_MOTOR_REPORT_PREMIUM_IBMS\t@period = '@{variables('period')}'","type":"Expression"}}],"scriptBlockExecutionTimeout":"02:00:00","database":"IBMS_GIC"},"externalReferences":{"connection":"[parameters('192.168.177.22\\dinhphi;')]"}},{"name":"Date Working","type":"SetVariable","dependsOn":[{"activity":"Save Log Premium","dependencyConditions":["Succeeded"]}],"policy":{"secureOutput":false,"secureInput":false},"typeProperties":{"variableName":"period","value":{"value":"@formatDateTime(utcNow(), 'yyyyMMdd')\n","type":"Expression"}}},{"name":"Store Premium GICORE","description":"","type":"Script","dependsOn":[{"activity":"Store Data_Detail_GICORE","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"scripts":[{"type":"Query","text":{"value":"EXEC A9_MOTOR_REPORT_PREMIUM_GICORE_Calculate\t@period = '@{variables('period')}'","type":"Expression"}}],"scriptBlockExecutionTimeout":"02:00:00","database":"IBMS_GIC"},"externalReferences":{"connection":"[parameters('192.168.177.22\\dinhphi;')]"}},{"name":"Store Change Collate","description":"","type":"Script","dependsOn":[{"activity":"Store Premium GICORE","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"scripts":[{"type":"Query","text":{"value":"EXEC dbo.E_CHANGE_COLLATE_TABLE @table = N'A6_GICORE_MOTOR_DATA_RISK' ","type":"Expression"}}],"scriptBlockExecutionTimeout":"02:00:00","database":"IBMS_GIC"},"externalReferences":{"connection":"[parameters('192.168.177.22\\dinhphi;')]"}},{"name":"Store Insert HomeCredit","description":"","type":"Script","dependsOn":[{"activity":"Store Change Collate","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"scripts":[{"type":"Query","text":{"value":"EXEC A6_sp_MOTOR_DATA_HOMECREDIT_INSERT","type":"Expression"}}],"scriptBlockExecutionTimeout":"02:00:00","database":"IBMS_GIC"},"externalReferences":{"connection":"[parameters('192.168.177.22\\dinhphi;')]"}},{"name":"Save Log Premium","type":"RefreshDataflow","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"dataflowId":"587d4e70-67ac-4ffa-a09b-18d907d44a07","workspaceId":"30dba040-2679-4d12-8ab3-0d871b8f2bb0","notifyOption":"NoNotification","dataflowType":"DataflowFabric"}},{"name":"Save Premium","type":"RefreshDataflow","dependsOn":[{"activity":"Premium_and_Expense","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"dataflowId":"f77e3942-d023-4f36-82b9-51df4f00ff9b","workspaceId":"30dba040-2679-4d12-8ab3-0d871b8f2bb0","notifyOption":"NoNotification","dataflowType":"DataflowFabric"}},{"name":"Premium_and_Expense","description":"","type":"Script","dependsOn":[{"activity":"Store Prepare Earn","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"scripts":[{"type":"Query","text":{"value":"EXEC [dbo].[A9_MOTOR_DATA_PREMIUM_Calculate];","type":"Expression"}}],"scriptBlockExecutionTimeout":"02:00:00","database":"IBMS_GIC"},"externalReferences":{"connection":"[parameters('192.168.177.22\\dinhphi;')]"}},{"name":"CLAIM","description":"","type":"Script","dependsOn":[{"activity":"Store Prepare Earn","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"scripts":[{"type":"Query","text":{"value":"\tEXEC A_MOTOR_DATA_CLAIM_RELINK_Update;\r\n\r\n ---- Update DUPLICATED CLAIM Table\r\n\tEXEC A_MOTOR_DATA_CLAIM_DUPLICATE_Update;\r\n\r\n ---- Update CLAIM SALVAGE Table\r\n\tEXEC A_MOTOR_DATA_CLAIM_SALVAGE_Calculate;\r\n\r\n ---- Update CLAIM SURVEY Table\r\n\tEXEC A_MOTOR_DATA_CLAIM_SURVEY_Calculate\r\n\r\n    EXEC A9_MOTOR_DATA_CLAIM_Calculate\r\n","type":"Expression"}}],"scriptBlockExecutionTimeout":"02:00:00","database":"IBMS_GIC"},"externalReferences":{"connection":"[parameters('192.168.177.22\\dinhphi;')]"}},{"name":"ALL","type":"TridentNotebook","dependsOn":[{"activity":"Copy Prepare Table","dependencyConditions":["Succeeded"]},{"activity":"Save Premium","dependencyConditions":["Succeeded"]},{"activity":"Save Claim","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"notebookId":"6b6b50ba-c09c-463d-85fd-60c5cbae3d6d","workspaceId":"30dba040-2679-4d12-8ab3-0d871b8f2bb0"}},{"name":"Save Claim","type":"RefreshDataflow","dependsOn":[{"activity":"CLAIM","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"dataflowId":"52ee61ab-2ff3-4b8b-80a6-c9dff88ae35c","workspaceId":"30dba040-2679-4d12-8ab3-0d871b8f2bb0","notifyOption":"NoNotification","dataflowType":"DataflowFabric"}},{"name":"Refresh Model ALL","type":"PBISemanticModelRefresh","dependsOn":[{"activity":"ALL","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"method":"post","waitOnCompletion":true,"commitMode":"Transactional","operationType":"SemanticModelRefresh","groupId":"30dba040-2679-4d12-8ab3-0d871b8f2bb0","datasetId":"97e4ba52-23f0-48ba-9d4c-75c7b4520291","objects":[{"table":"measure"},{"table":"PRODUCT"},{"table":"Calendar"},{"table":"BRANCH"},{"table":"DEPARTMENT"},{"table":"a6_motor_data_risk_summary"}]},"externalReferences":{"connection":"[parameters('PowerBIDatasets nam.dv')]"}},{"name":"Update_Renew_Table","type":"RefreshDataflow","dependsOn":[{"activity":"Renew","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"dataflowId":"a9314515-d6f7-40e7-a704-1637a0c80991","workspaceId":"30dba040-2679-4d12-8ab3-0d871b8f2bb0","notifyOption":"NoNotification","dataflowType":"DataflowFabric"}},{"name":"Renew","description":"","type":"Script","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"scripts":[{"type":"Query","text":{"value":"EXEC A6_SP_MOTOR_DATA_AUTO_PD\r\nEXEC A6_SP_MOTOR_DATA_AUTO_PD_RENEW","type":"Expression"}}],"scriptBlockExecutionTimeout":"02:00:00","database":"IBMS_GIC"},"externalReferences":{"connection":"[parameters('192.168.177.22\\dinhphi;')]"}},{"name":"Store Data_Detail_GICORE","description":"","type":"Script","dependsOn":[{"activity":"Date Working","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"scripts":[{"type":"Query","text":{"value":"EXEC  [A9_T_GICORE_PA_RISK_DETAIL_MOTOR_Calculate] \t@period = '@{variables('period')}'","type":"Expression"}}],"scriptBlockExecutionTimeout":"02:00:00","database":"Actuary"},"externalReferences":{"connection":"[parameters('192.168.177.22\\dinhphi;')]"}},{"name":"PING","type":"Office365Outlook","dependsOn":[{"activity":"Refresh Model ALL","dependencyConditions":["Succeeded"]},{"activity":"Update_Renew_Table","dependencyConditions":["Succeeded"]}],"typeProperties":{"inputs":{"method":"post","path":"/v2/Mail","body":{"To":"hieu.vuduc@gic.com.vn; nam.dovan1@gic.com.vn","Subject":"concat('Alert: Alert - Success Update Data Motor Daily ', formatDateTime(utcNow(), 'yyyyMMdd'))\n","Body":"<p>Đã cập nhật thành công dữ liệu.</p>\n<p><br>\nKiểm tra báo cáo mới nhất tại <a href=\"https://app.fabric.microsoft.com/reportEmbed?reportId=552ed8d2-9508-4f16-b78e-6cb19f05af92&amp;autoAuth=true&amp;ctid=b0d2f454-417f-44c7-b64f-595dbba520e3\">Fabric - Report Motor</a>.</p>\n<p>Check Log tại <a href=\"https://app.fabric.microsoft.com/groups/30dba040-2679-4d12-8ab3-0d871b8f2bb0/pipelines/4e6f0bc1-ce4e-4cbe-af36-2ccc3f933164?experience=fabric-developer\">View run history</a>.</p>","Sensitivity":"","Importance":"Normal"}}}},{"name":"PING_FAIL","type":"Office365Outlook","dependsOn":[{"activity":"Refresh Model ALL","dependencyConditions":["Failed"]},{"activity":"Update_Renew_Table","dependencyConditions":["Failed"]}],"typeProperties":{"inputs":{"method":"post","path":"/v2/Mail","body":{"To":"hieu.vuduc@gic.com.vn; nam.dovan1@gic.com.vn","Subject":"Alert: Alert - Fail Update Data Motor Daily @formatDateTime(utcNow(), 'yyyyMMdd')","Body":"<p>Cập nhật lỗi dữ liệu ngày &nbsp;@formatDateTime(utcNow(), 'yyyyMMdd')</p>\n<p>Check Log tại <a href=\"https://app.fabric.microsoft.com/groups/30dba040-2679-4d12-8ab3-0d871b8f2bb0/pipelines/4e6f0bc1-ce4e-4cbe-af36-2ccc3f933164?experience=fabric-developer\">View run history</a>.</p>","Sensitivity":"","Importance":"Normal"}}}}],"variables":{"period":{"type":"String"}},"lastModifiedByObjectId":"dd956ccf-50dc-4a75-b698-cf4ecacafe7e","lastPublishTime":"2025-04-24T02:04:22Z","logicAppsConnectionPayload":{"id":"/subscriptions/f59b09ba-aae0-4dd3-9dfc-292a84053598/resourceGroups/connections-30dba040-2679-4d12-8ab3-0d871b8f2bb0/providers/Microsoft.Web/connections/1_4e6f0bc1-ce4e-4cbe-af36-2ccc3f933164_dd956ccf-50dc-4a75-b698-cf4ecacafe7e","properties":{"api":{"name":"office365","id":"/subscriptions/f59b09ba-aae0-4dd3-9dfc-292a84053598/providers/Microsoft.Web/locations/southeastasia/managedApis/office365"}}}},"dependsOn":[]}]}